USE [GoodsOrder]
GO
/****** Object:  Table [dbo].[CustomerInfo]    Script Date: 2024/3/24 9:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInfo](
	[客户编号] [char](6) NOT NULL,
	[客户姓名] [char](20) NOT NULL,
	[出生日期] [datetime] NULL,
	[性别] [char](2) NULL,
	[所在省市] [varchar](50) NULL,
	[联系电话] [varchar](12) NULL,
	[微信号] [varchar](30) NULL,
	[VIP] [bit] NULL,
	[备注] [text] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[客户编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsInfo]    Script Date: 2024/3/24 9:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsInfo](
	[商品编号] [char](8) NOT NULL,
	[商品类别] [char](20) NOT NULL,
	[商品名称] [varchar](50) NOT NULL,
	[品牌] [varchar](30) NULL,
	[单价] [float] NULL,
	[生产商] [varchar](50) NULL,
	[保质期] [datetime] NULL,
	[库存量] [int] NULL,
	[备注] [text] NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[商品编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderList]    Script Date: 2024/3/24 9:22:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderList](
	[客户编号] [char](6) NOT NULL,
	[商品编号] [char](8) NOT NULL,
	[订购时间] [datetime] NOT NULL,
	[数量] [int] NULL,
	[需要日期] [datetime] NULL,
	[付款方式] [varchar](40) NULL,
	[送货方式] [varchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[客户编号] ASC,
	[商品编号] ASC,
	[订购时间] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CustomerInfo] ([客户编号], [客户姓名], [出生日期], [性别], [所在省市], [联系电话], [微信号], [VIP], [备注]) VALUES (N'100001', N'张小林              ', CAST(N'1982-02-01T00:00:00.000' AS DateTime), N'男', N'江苏南京', N'02581334567', N'13980030075', 1, N'银牌客户')
INSERT [dbo].[CustomerInfo] ([客户编号], [客户姓名], [出生日期], [性别], [所在省市], [联系电话], [微信号], [VIP], [备注]) VALUES (N'100002', N'李红红              ', CAST(N'1991-03-22T00:00:00.000' AS DateTime), N'女', N'江苏苏州', N'13908899120', N'13908899120', 1, N'金牌客户')
INSERT [dbo].[CustomerInfo] ([客户编号], [客户姓名], [出生日期], [性别], [所在省市], [联系电话], [微信号], [VIP], [备注]) VALUES (N'100003', N'王晓美              ', CAST(N'1986-08-20T00:00:00.000' AS DateTime), N'女', N'上海市', N'02166552101', N'wxid_0021001', 0, N'新客户')
GO
INSERT [dbo].[GoodsInfo] ([商品编号], [商品类别], [商品名称], [品牌], [单价], [生产商], [保质期], [库存量], [备注]) VALUES (N'10010001', N'食品                ', N'咖啡', N'宇一', 50, N'宇一饮料公司', CAST(N'2021-08-31T00:00:00.000' AS DateTime), 100, NULL)
INSERT [dbo].[GoodsInfo] ([商品编号], [商品类别], [商品名称], [品牌], [单价], [生产商], [保质期], [库存量], [备注]) VALUES (N'10010002', N'食品                ', N'苹果汁', N'宇一', 5.2, N'宇一饮料公司', CAST(N'2020-12-31T00:00:00.000' AS DateTime), 500, NULL)
INSERT [dbo].[GoodsInfo] ([商品编号], [商品类别], [商品名称], [品牌], [单价], [生产商], [保质期], [库存量], [备注]) VALUES (N'10020001', N'食品                ', N'大米', N'健康', 35, N'健康粮食生产基地', CAST(N'2020-12-20T00:00:00.000' AS DateTime), 100, NULL)
GO
INSERT [dbo].[OrderList] ([客户编号], [商品编号], [订购时间], [数量], [需要日期], [付款方式], [送货方式]) VALUES (N'100001', N'10010001', CAST(N'2020-02-18T12:20:00.000' AS DateTime), 2, CAST(N'2020-02-20T00:00:00.000' AS DateTime), N'支付宝', N'客户自提')
INSERT [dbo].[OrderList] ([客户编号], [商品编号], [订购时间], [数量], [需要日期], [付款方式], [送货方式]) VALUES (N'100001', N'30010001', CAST(N'2020-02-10T12:30:00.000' AS DateTime), 10, CAST(N'2020-02-20T00:00:00.000' AS DateTime), N'网银转账', N'送货上门')
INSERT [dbo].[OrderList] ([客户编号], [商品编号], [订购时间], [数量], [需要日期], [付款方式], [送货方式]) VALUES (N'100002', N'10010001', CAST(N'2020-02-18T13:00:00.000' AS DateTime), 1, CAST(N'2020-02-21T00:00:00.000' AS DateTime), N'微信支付', N'客户自提')
GO
ALTER TABLE [dbo].[CustomerInfo] ADD  CONSTRAINT [DF_Customers_VIP]  DEFAULT ('0') FOR [VIP]
GO
ALTER TABLE [dbo].[GoodsInfo] ADD  CONSTRAINT [DF_Goods_保质期]  DEFAULT ('2000-01-01') FOR [保质期]
GO
