USE [StudentCourse]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2024/3/24 9:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[课程号] [char](4) NOT NULL,
	[课程名] [varchar](40) NOT NULL,
	[开课学期] [int] NULL,
	[学时] [int] NULL,
	[学分] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StuCourse]    Script Date: 2024/3/24 9:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StuCourse](
	[学号] [char](6) NOT NULL,
	[课程号] [char](4) NOT NULL,
	[成绩] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2024/3/24 9:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[学号] [char](6) NOT NULL,
	[姓名] [char](12) NOT NULL,
	[专业名] [varchar](20) NULL,
	[性别] [char](2) NULL,
	[出生时间] [smalldatetime] NULL,
	[总学分] [int] NULL,
	[备注] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Course] ([课程号], [课程名], [开课学期], [学时], [学分]) VALUES (N'1001', N'高等数学1', 1, 80, 5)
INSERT [dbo].[Course] ([课程号], [课程名], [开课学期], [学时], [学分]) VALUES (N'1002', N'高等数学2', 2, 80, 5)
INSERT [dbo].[Course] ([课程号], [课程名], [开课学期], [学时], [学分]) VALUES (N'2001', N'程序设计基础', 1, 64, 4)
GO
INSERT [dbo].[StuCourse] ([学号], [课程号], [成绩]) VALUES (N'070101', N'1001', 98)
INSERT [dbo].[StuCourse] ([学号], [课程号], [成绩]) VALUES (N'070101', N'1002', 95)
INSERT [dbo].[StuCourse] ([学号], [课程号], [成绩]) VALUES (N'070101', N'2001', 88)
GO
INSERT [dbo].[Student] ([学号], [姓名], [专业名], [性别], [出生时间], [总学分], [备注]) VALUES (N'070101', N'丁一平      ', N'计算机科学与技术', N'男', CAST(N'1989-05-01T00:00:00' AS SmallDateTime), 80, N'三好生')
INSERT [dbo].[Student] ([学号], [姓名], [专业名], [性别], [出生时间], [总学分], [备注]) VALUES (N'070102', N'王红        ', N'计算机科学与技术', N'女', CAST(N'1988-12-20T00:00:00' AS SmallDateTime), 80, NULL)
INSERT [dbo].[Student] ([学号], [姓名], [专业名], [性别], [出生时间], [总学分], [备注]) VALUES (N'070105', N'朱江        ', N'计算机科学与技术', N'男', CAST(N'1990-01-10T00:00:00' AS SmallDateTime), 78, N'有补考科目')
GO
